# Archivos sensibles
.env
.env.*

# Archivos de sistema macOS
.DS_Store
**/.DS_Store

# Node
node_modules/
frontend/node_modules/

# Python
__pycache__/
*.pyc

# Python
__pycache__/
*.py[cod]
.venv/
venv/
ENV/
.env

# Node
node_modules/
dist/

# Watchguard local venv
services/watchguard/venv/

